@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 14px;
        height: 14px;
        background-color: rgba(28, 28, 28, 1);
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(43, 207, 161, 1);
        border: 3px solid rgba(28, 28, 28, 1);
        border-radius: 8px;
    }
}